@model Cinema.Models.Filmy

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Filmy</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmNazwa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmNazwa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmOpis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmOpis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmCena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmCena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmZdjecieURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmZdjecieURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmDataStartu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmDataStartu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmDataKonca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmDataKonca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmKategoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmKategoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RezyserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RezyserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FilmId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
