@model IEnumerable<Cinema.Models.Filmy>

@{
    ViewData["Title"] = "Lista filmów";
}

<h1>Lista filmów</h1>

<p>
    <a asp-action="Create">Dodaj film</a>
</p>


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.FilmNazwa
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <a class="text-white float-right" asp-action="Edit" asp-route-id="@item.FilmId"><i class="bi bi-pencil-square"></i></a>
                                    }
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="@item.FilmZdjecieURL" width="100%" alt="@item.FilmNazwa">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text">@item.FilmOpis</p>
                            <p class="card-text"><b>Kategoria: </b>@item.FilmKategoria</p>
                            <p class="card-text"><b>Start ekranizacji: </b>@item.FilmDataStartu.ToString("dd MMM yy")</p>
                            <p class="card-text"><b>Koniec ekranizacji: </b>@item.FilmDataKonca.ToString("dd MMM yy")</p>
                            <p class="card-text ">
                                @if (DateTime.Now >= item.FilmDataStartu && DateTime.Now <= item.FilmDataKonca)
                                {
                                    <span class="badge bg-success text-white">Dostępny</span>
                                }
                                else if (DateTime.Now > item.FilmDataKonca)
                                {
                                    <span class="badge bg-danger text-white">Niedostępny</span>
                                }
                                else
                                {
                                    <span class="badge bg-primary text-white">Nadchodzący</span>
                                }
                            </p>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text">
                                <a class="btn btn-outline-primary float-right" asp-action="Details" asp-route-id="@item.FilmId">
                                    <i class="bi bi-info-circle"></i> Informacje
                                </a>
                                <a class="btn btn-success text-white @((DateTime.Now > item.FilmDataKonca) ? "disabled" : "")"
                                   asp-action="Buy"
                                   asp-route-id="@item.FilmId">
                                    <i class="bi bi-cart-plus"></i> Kup (Cena @item.FilmCena.ToString("c"))
                                </a>
                                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.FilmId"><i class="bi bi-pencil-square"></i> Edytuj</a>
                                <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.FilmId"><i class="bi bi-trash"></i> Usuń</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>



@*
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FilmZdjecieURL)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FilmOpis)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FilmCena)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FilmNazwa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FilmDataStartu)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FilmDataKonca)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FilmKategoria)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RezyserId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    <img class="rounded-circle" src="@item.FilmZdjecieURL" alt="@item.FilmNazwa" style="max-width: 150px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FilmOpis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FilmCena)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FilmNazwa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FilmDataStartu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FilmDataKonca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FilmKategoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RezyserId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.FilmId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.FilmId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.FilmId">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
*@